@page "/FastTextFieldDemo"

<h3>FastTextFieldDemo</h3>

<div class="component-demo-container">
    <FastTextField PlaceHolder="With PlaceHolder"></FastTextField>
    <FastTextField ReadOnly="true" Value="Read Only"></FastTextField>
    <FastTextField Required="true" Value="Required"></FastTextField>
    <FastTextField Disabled="true" Value="Disabled"></FastTextField>
    <FastTextField MaxLength="5" PlaceHolder="Max Length = 5"></FastTextField>
    <FastTextField MinLength="5" PlaceHolder="Min Length = 5"></FastTextField>
</div>